body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
}


.container {
    width: 600px;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      position: relative;
    text-align: center;
}

.back-arrow {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
}

.back-arrow:hover {
    color: #d32f2f;
}

.container img {
    width: 50px;
    margin-bottom: 20px;
}

.container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}



.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: #ddd;
}

/* .divider span {
    margin: 0 10px;
    color: #666;
} */

form {
    display: flex;
    flex-direction: column;
}

.form-field {
    margin-bottom: 15px;
    text-align: left;
}

.form-field label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #333;
}

.form-field input[type="text"],
.form-field input[type="password"],
.form-field input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.form-field input[type="checkbox"] {
    margin-right: 10px;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #005E5D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}


.login-link {
    margin-top: 20px;
    font-size: 14px;
    color: #333;
}

.login-link a {
    color: #d32f2f;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}