.footer {
    background-color: #333;
    color: #fff;
    padding: 50px;
    padding-bottom: 0;
}
li{
    list-style: none;
}
.footer-section h3 {
    color: #fff;
    margin-bottom: 10px;
}
.footer-section{
    display: flex;
    flex-direction: column;
    
    align-items: start;
}
.footer-section p,
.footer-section ul li a {
    color: #d0d0d0;
    font-size: 14px;
    text-decoration: none;
}

.footer-section ul li a:hover {
    color: #ff9800;
}

.social-icons a {
    color: #fff;
    margin-right: 10px;
    font-size: 40px; /* Tăng kích thước icon */
    padding: 15px; /* Thêm khoảng cách xung quanh */
    transition: transform 0.3s ease; /* Hiệu ứng khi hover */
}

.footer-bottom {
    background: rgb(40 40 40);
    color: #d0d0d0;
    font-size: 12px;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom p{
    margin: 0;
}
.social-icons i{
    color: white;
    font-size: 18px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.5s;

}
.social-icons a:hover {
    transform: scale(1.2); /* Phóng to khi hover */
    color: #ff9800;
}
