.container {
width: 50%;
margin: 50px auto;
background-color: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container h2 {
text-align: center;
margin-bottom: 20px;
color: #333;
}
.container table {
width: 100%;
border-collapse: collapse;
}
.container .table-container {
max-height: 60vh;
overflow-y: scroll;
margin: 30px 0;
}
.container thead {
color: #fff;
background-color: #333;
position: sticky;
top: 0;
}
.container tr {
height: 40px;
}
.container th, 
.container td {
padding: 12px;
text-align: left;
}
.container th {
background-color: #f0f0f0;
font-weight: bold;
}
.container tr:nth-child(even) {
background-color: #EEEEEE;
}
.container a {
color: #007bff;
text-decoration: none;
}
.container .multi-line-text {
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
width: 350px;
overflow: hidden;
}
.container button {
color: #fff;
padding: 10px 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
background-color: #3c3b3b;
border: none;
transition: all 0.3s ease;
}
.container button:hover {
opacity: 0.8;
}
.container table td:nth-child(1) {
text-align: center;
width: 100px;
}